.roadmap{
  margin: 91px 12px 0;
}

.title{
  display: flex;
  gap: 7px;

  width: 315px;
}
.title h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-family: SSEC600;
  color: #FFFFFF;

  margin: 0;
}

.textHow {
  display: inline-block;

  color: #9EFF52;
}
.textHowAnimated {
  animation: tilt 3s forwards;
}


@keyframes tilt {
  0% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(-15deg);
  }
}
/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/

@media (min-width: 480px) {

}

@media (min-width: 720px) {
  .title{
    width: 700px;
  }

  .title h2{
    font-size: 92px;
  }

  .roadmap{
    margin: 164px 20px 0;
  }
}

@media (min-width: 1000px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1440px) {
  .roadmap{
    margin: 390px 64px 0;
  }

  .title{
    margin-right: auto;
  }
  .title h2{
    font-size: 96px;
  }

}