:root {
  --left-gradient-top: 0;
  --right-gradient-top: 0;
}

.gradient {
  display: flex;
  justify-content: space-between;
  position: fixed;

  height: 100vh;
  width: 100%;

  top: 0;
  left: 0;
  background-image: url("./../../assets/svg/Rectangle.svg");
  z-index: -1;

  pointer-events: none; /* Чтобы не мешать кликам на другие элементы */
}

.gradientLeft {
  margin-top: 300px;

  position: relative;
  top: var(--left-gradient-top);
  left: -250px;

  width: 30%;
  height: 50%;

  border-radius: 50%;

  background: radial-gradient(
    circle at center,
    #9EFF528A 0%,
    rgba(158, 255, 82, 0.22) 50%,
    rgba(158, 255, 82, 0.18) 100%
  );

  filter: blur(60px) url(#noise); /* Примените фильтр шума */
  z-index: -1; /* Отправить на задний план */
  animation: scaleLeft 10s linear infinite; /* Анимация масштаба */
}

.gradientRight {
  position: relative;
  top: var(--right-gradient-top);
  right: -250px;

  width: 30%;
  height: 50%;

  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    #9EFF528A 0%,
    rgba(158, 255, 82, 0.22) 50%,
    rgba(158, 255, 82, 0.18) 100%
  );

  filter: blur(60px) url(#noise); /* Примените фильтр шума */
  z-index: -1; /* Отправить на задний план */
  animation: scaleRight 10s linear infinite; /* Анимация масштаба */
}

@keyframes scaleLeft {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleRight {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}