.cards{
  /*background-image: url("./../../assets/svg/bgline.svg");*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  margin-top: 127px;

}


.cardsContainer {

  display: flex;
  justify-content: center;

  position: relative;
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 351px;
  height: 339px;

  border: 1px solid #9EFF52;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 25px 40px;

  background: #1C1C1C;


  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  position: absolute;
}

.card2 {
  z-index: 1;
}

.card1 {
  z-index: 2;
  top: 70px;
  right: 53px;
}

.card3 {
  z-index: 3;
  top: 130px;
  right: 40px;
}

.card4 {
  z-index: 4;
  top: 56px;
  left: 18px;
}

.card5 {
  z-index: 5;
  top: 121px;
  left: 40px;
}

.card6 {
  z-index: 6;
  top: 47px;
  left: 68px;
}


.title {
  text-transform: uppercase;
  font-size: 32px;
  font-family: SSEC700;
  color: #FFFFFF;

  margin-top: 150px;

}
.textInfo{
  font-size: 16px;
  font-family: SF300;
  color: #FFFFFF;

}

.screenBlocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}



/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/

@media (min-width: 480px) {

}

@media (min-width: 720px) {

}

@media (min-width: 1000px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1440px) {

}