.about{
  margin: 131px 12px 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.title{
  display: flex;
  gap: 7px;

}
.title h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-family: SSEC600;
  margin: 0;
  color: #FFFFFF;
}

.textAbout {
  display: inline-block;
  color: #9EFF52;
}
.textAboutAnimated {
  animation: tilt 3s forwards;
}

@keyframes tilt {
  0% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(-15deg);
  }
}

.greenSpring{
  width: 40px;
  position: relative;
  bottom: 10px;
}

/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/

@media (min-width: 480px) {
  .about{
    margin: 105px 12px 0;

    gap: 23px;
  }
  .title{
    display: flex;
    gap: 27px;

  }
  .title h2 {
    font-size: 64px;
  }
  .greenSpring{
    width: 58px;
    bottom: 15px;
  }
}

@media (min-width: 720px) {
  .about{
    margin:322px 62px 0;
    gap: 20px;
  }
  .title h2{
    font-size: 92px;
  }
  .greenSpring{
    width: 80px;
  }

}

@media (min-width: 1000px) {
  .about{
    margin: 212px 96px 0;

  }
  .title{
    gap: 12px;

  }
  .title h2 {
    font-size: 120px;
  }

  .greenSpring{
    width: 104px;
  }

}

@media (min-width: 1280px) {
  .about{
    margin:320px 64px 0;
  }
  .title{
    margin-right: auto;
  }
  .title h2{
    font-size: 125px;
  }
  .greenSpring{
    width: 80px;
  }

}

@media (min-width: 1440px) {

}