.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 115px 12px 0;
}

.title {
  font-size: 60px;
  color: #FFFFFF;
  font-family: SSEC600;
  text-transform: uppercase;
  animation: slideIn 10s ease-in-out forwards;
  display: inline-block;
  transition: opacity 1s ease-in-out;
}

@keyframes slideIn {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 1;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

.loaded {
  color: #9EFF52;
  animation: none;
}

.allUpload {
  display: flex;
  gap: 10px;
  transition: opacity 1s ease-in-out;
}

.uploadWrapper {
  width: 300px;
  height: 20px;
  border: 1px solid #9EFF52;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.upload {
  height: 100%;
  background-color: #9EFF52;
  transition: width 0.5s ease-in-out;
}

.fadeOut {
  animation: fadeOut 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}


.fadeOutText {
  opacity: 0;
}

.progressText {
  position: relative;
  font-weight: bold;
  color: #FFFFFF;
  font-family: SF300;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 480px) {
  .uploadContainer{
    margin: 105px 65px 0;
  }
}

@media (min-width: 720px) {
  .uploadContainer{
    margin: 166px 50px 0;
  }

  .title {
    font-size: 100px;
  }

  .uploadWrapper {
    width: 596px;
    height: 25px;
  }
}

@media (min-width: 1000px) {
  .uploadContainer{
    margin: 253px 93px 0;
  }
  .title {
    font-size: 120px;
  }

  .uploadWrapper {
    width: 758px;
    height: 32px;
  }
}

@media (min-width: 1200px) {
  .uploadContainer{
    margin: 233px 0 0;
  }
}

@media (min-width: 1440px) {

  .uploadContainer{
    margin: 259px 64px 0;
  }



}
