.verticalSteps {
  margin-top: 11px;
}

.rectangle {
  width: 18px;
  height: 100px;

  background-color: #9EFF52;

  border-radius: 4px;

  position: sticky;
  top: 20%;
}

.verticalStepsContainer {
  display: flex;
  gap: 18px;

  position: relative;
}

.text {
  width: 310px;

  display: flex;
  flex-direction: column;
  gap: 60px;

  font-family: SF300;
  font-size: 16px;
  color: #FFFFFF;

  margin: 17px 0 50px;
}

.textBlock {
  transition: opacity 1s ease;
}

.frame {
  border: 1px solid #9EFF52;

  width: 20px;

  border-radius: 4px;
}

.btn button {
  outline: none;
  border: none;

  background-color: #9EFF52;

  border-radius: 15px;

  width: 351px;
  height: 60px;

  font-size: 16px;
  color: #1C1C1C;

  margin-top: 11px;
}


/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/

@media (min-width: 480px) {

}

@media (min-width: 720px) {
  .verticalSteps {
    margin-top: 20px;
    margin-left: 20px;
  }

  .frame {
    width: 37px;
  }

  .rectangle {
    width: 36px;
  }

  .verticalStepsContainer {
    gap: 74px;
  }

  .text {
    width: 389px;

    font-size: 24px;
    margin: 62px 0 63px;
  }

  .btn {
    position: relative;
    height: 370px;
    display: flex;
    justify-content: start;
  }

  .btn button {

    width: 339px;
    height: 80px;

    font-size: 24px;

    position: relative;

    transform: rotate(90deg);
    transform-origin: bottom left;
    transition: transform 0.5s ease-in-out;
  }

  .rotateButton {
    transform: rotate(0deg) !important;
    background-color: transparent !important; /* Убираем фон */
    border: 1px solid #9EFF52 !important;
    color: #9EFF52 !important;
  }
}

@media (min-width: 1000px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1440px) {
  .verticalSteps {
    margin-top: 82px;
  }

  .verticalStepsContainer {
    justify-content: center;
  }

  .btn{
    justify-content: center;
  }
  .btn button{
    left: -80px;
    margin-top: 20px;
  }
}